@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,800,800i');

html, body {
	width:100%;
	margin:0;
	padding:0;

}

body {
	background-color: #F4EADE;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: #626262;
}

h1 {
	font-size: 50px;
	font-weight: 800;
	font-style: italic;
	text-transform: uppercase;
	text-shadow: 2px 3px 1px #DE8C72;
	color: #171662;
	margin: 0px;
}

h2 {
	font-size: 25px;
	font-weight: 700;
	font-style: italic;
	color: #171662;
	margin: 20px 0px;

	text-decoration: underline;
	text-decoration-color: #DE8C72;
	text-decoration-style: 
}

p {
	margin: 5px 0px;
}

.btn {
	padding:8px 13px;
	background-color: #DE8C72;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 800;
	color: #ffffff;
	border: none;
	border-radius: 5px;
	transition: color 0.5s ease;
}

.btn-pink {
	background-color: #DE8C72;
}

.btn-pink:hover {
	color: #171662;
}

.btn-blue {
	background-color: #171662;
}

.btn-blue:hover {
	color: #DE8C72;
}

#btn-add {
	height: 50px;
}

.btn:disabled {
	background-color: #A2A2A2;
	color: #f2f2f2;
}

.btn-close {
	float: right;
	cursor: pointer;
	margin-left: 30px;
}

/*HOME*/

.nav-bar-container{
	/*display:block;*/
	background-color: #f6f6f6;
	box-shadow: 1px 1px 10px #686868;

	/*position:fixed;*/
}

.nav-bar {
	display:block;
	width:90%;
	margin:auto;
	padding: 10px 0px;
}

.nav-bar h1 {
	display: inline-block;
	font-size: 30px;
}

.nav-bar .btn {
	display: inline-block;
	float:right;

}

.main-container{
	height:80%;
	width:90%;
	margin:auto;
	display: flex;
	flex-direction: column;
  	justify-content: center;
}

.error-message {
	display:block;
	background-color: #F3DCDC;
	color: #CB5540;
	padding: 10px 20px;
	border-radius: 3px;
}

.hidden {
	display: none;
}

.input-container {
	padding: 20px 0px;
	text-align: center;
}

.input-text {
	padding:10px 15px;
	font-size: 18px;
	background-color: transparent;
	color:#DE8C72;

	border:none;
	border-bottom: 1px solid #DE8C72;

	width: 80%;
	height:50px;
}

.input-text:focus {
	outline:none;
}


.artists-container{
	margin: 20px 0;
	max-width: 500px;
}

ul {
	list-style: none;
	padding:0px;
}

li {
	display: inline-block;
}

li a {
	color: #ffffff;
	padding-left: 10px;
	text-decoration: none;
	transition: color 0.5s ease;
}

li a:hover {
	color: #171662;
}

.artist {
	padding:7px 15px;
	margin: 2px 1px;
	background-color: #DE8C72;
	color: #ffffff;
	border-radius: 5px;
}


/*PLAYLIST*/

.playlist-title {
	margin:20px 0;
	max-width: 300px;
}

.playlist-title h2 {
	/*margin: 5px 0;*/
	font-size: 25px;
}


.main-playlist-container{
	height:80%;
	width:90%;
	margin:auto;
}

.playlist-container {
	width: 90%;
}

.playlist {
	padding:5%;
	border: 5px solid #171662;
	min-height: 300px;
	width: 100%;
}

.genres-list{
	background-color: #DE8C72;
	color: #ffffff;

	font-size: 16px;

	padding: 10px 15px;
	margin: 5px 5px;

	border-radius: 10px;
}

.featured-container{
	width: 100%;
	margin: 20px 0;
}

.featured-list {
	text-align: center;
}

.featured {
	text-align: center;
	padding: 0 10px;
	max-width: 150px;
	vertical-align: top;
}

.featured:hover {
	width:160px;
}

.img-crop:hover {
	width:160px;
	height:160px;
}

.img-crop {
	width: 150px;
    height: 150px;
    position: relative;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
	transition: all 0.2s linear;
}

.img-crop img {
	left: 50%;
	top: 50%;
	height: 100%;
	width: auto;
}

.img-crop img.portrait {
	width: 100%;
	height: auto;
}

.featured a {
	color: #626262;
}


@media all and (min-width: 426px) {
	.nav-bar,
	.main-container{
		width:70%;
	}
}

@media all and (min-width: 768px){
	h2 {
		font-size: 30px;
	}
	
	.nav-bar,
	.main-container{
		width:60%;
	}

	.playlist-container {
		display: inline-block;
		width:30%;
		position:fixed;
	}

	.main-playlist-container{
		width:90%;
		margin:auto;
	}

	.playlist {
		max-width: 300px;
		height:50vh;
	}

	.featured-container {
		display: inline-block;
		width:55%;
		float: right;
	}

	.featured-list {
		text-align: left;
	}

}
@media all and (min-width: 1024px) {
	.main-container{
		width:50%;
	}
	.main-playlist-container{
		width:80%;
	}

	.featured-container {
		display: inline-block;
		width:50%;
	}
}

@media all and (min-width: 1440px) {
	.main-container{
		width:30%;
	}

	.featured-container {
		display: inline-block;
		width:60%;
	}
}